<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dedasp.system.mapper.ProxyRegisterMapper">

    <update id="updateFlowAnnex">
        update 招标代理申请表主表
        <set>
            <if test=" 营业执照正本 != null and 营业执照正本 != '' ">
                营业执照正本 = #{营业执照正本},
            </if>
            <if test=" 营业执照副本 != null and 营业执照副本 != '' ">
                营业执照副本 = #{营业执照副本},
            </if>
            <if test="法人身份证复印件 != null and 法人身份证复印件 != '' ">
                法人身份证复印件 = #{法人身份证复印件},
            </if>
            <if test="其他证件 != null and 其他证件 != '' ">
                其他证件 = #{其他证件},
            </if>
        </set>
        where WorkFlowGUID = #{WorkFlowGUID}
    </update>

</mapper>
