<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dedasp.system.mapper.spmapper.SysBidDetailMapper">
    <resultMap id="sysBidDetailMap" type="sysBidDetail">
        <id column="bid_detail_id" property="bidDetailId"/>
        <result column="resource_name" property="resourceName"/>
        <result column="specification_model" property="specificationModel"/>
        <result column="unit" property="unit"/>
        <result column="quantity" property="quantity"/>
        <result column="no_taxes_unit_price" property="noTaxesUnitPrice"/>
        <result column="tax" property="tax"/>
        <result column="no_taxes_unit_price_sum" property="noTaxesUnitPriceSum"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <insert id="addBidDetail" useGeneratedKeys="true" keyProperty="bidDetailId">
        insert into sys_bid_detail
        (resource_name, specification_model, unit, quantity, no_taxes_unit_price, tax, no_taxes_unit_price_sum, remark)
        values(#{resourceName},#{specificationModel},#{unit},#{quantity},#{noTaxesUnitPrice},#{tax},#{noTaxesUnitPriceSum},#{remark})
    </insert>
    <select id="selectByBidDetail" resultType="com.dedasp.system.domain.spdomain.SysBidDetail">

    </select>
</mapper>
